<section class="footr_wrappr" id="footer">
  <div class="foot-top">
      <div class="container">
          <div class="row">
              <div class="col-sm-4 col-md-2">
                  <div class="foot-nav">
                      <h3>About Faremart</h3>
                      <ul class="list-unstyled">

                          <li><a href="https://www.faremart.com/about-us">About Us</a></li>
                          <li><a href="https://www.faremart.com/contact-us">Contact Us</a></li>
                          <li><a href="https://www.faremart.com/testimonial">Testimonials</a></li>
                          <li><a href="https://www.faremart.com/faq">FAQs</a></li>
                      </ul>
                      <span><a href="https://www.faremart.com/sitemap">Read More... </a></span>
                  </div>
              </div>
              <div class="col-sm-4 col-md-2">
                  <div class="foot-nav">
                      <h3>Top Airlines</h3>
                      <ul class="list-unstyled">
                          <li><a href="https://www.faremart.com/airlines/air-canada-flights-ac">Air Canada</a></li>
                          <li><a href="https://www.faremart.com/airlines/united-airlines-flights-ua">United Airlines</a></li>
                          <li><a href="https://www.faremart.com/airlines/alaska-airlines-flights-as">Alaska Airlines</a></li>
                          <li><a href="https://www.faremart.com/airlines/spirit-airlines-flights-nk">Spirit Airlines</a></li>
                          <li><a href="https://www.faremart.com/airlines/qatar-airways-flights-qr">Qatar Airlines</a></li>
                      </ul>
                      <span><a href="https://www.faremart.com/sitemap">Read More... </a></span>
                  </div>
              </div>
              <div class="col-sm-4 col-md-2">
                  <div class="foot-nav">
                      <h3>Legal</h3>
                      <ul class="list-unstyled">
                          <li><a href="https://www.faremart.com/terms-and-conditions">Terms &amp; Conditions</a></li>
                          <li><a href="https://www.faremart.com/privacy-policy">Privacy Policy</a></li>
                          <li><a href="https://www.faremart.com/refund-policy">Refund Policy</a></li>
                          <li><a href="https://www.faremart.com/disclaimer">Disclaimer</a></li>

                      </ul>
                      <span><a href="https://www.faremart.com/sitemap">Read More... </a></span>
                  </div>
              </div>
              <div class="col-md-6 col-sm-12">
                  <div class="subscribe-main">
                      <div class="foot-subscribe-box">
                          <p class="foot-subtitle">Sign up for email-exclusive deals!</p>
                          <div class="form_outer">
                              <input type="text" class="email inpt_txt" name="newsletter" placeholder="Enter your email address">
                              <button type="submit" class="btn_subs" >Subscribe</button>
                          </div>
                      </div>

                  </div>
                  <!--subscribe-main-->
                      <div class="link_sec_ftr">
                          <div class="scl_logo">
                              <ul class="clearfix">
                                      <li><a href="javascript:void(0);" class="fb sprite3"></a></li>
                                      <li><a href="javascript:void(0);" class="tw sprite3"></a></li>
                                      <li><a href="javascript:void(0);" class="ig sprite3"></a></li>
                                      <li><a href="javascript:void(0);" class="gp sprite3"></a></li>
                              </ul>
                          </div>
                      </div>
              </div>
          </div>
      </div>
  </div>

  
  <div class="wrppr_copy_pantr">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-md-12 col-sm-12">
                  <div class="copy_bk_pth">
                      <p>© 2016 - 2019 Faremart Inc. All rights reserved</p>
                  </div>
                  <div class="fttr_part">
                      <ul>
                          <li>
                              <a href="javascript:void(0)" class="sprite3 iata"></a>
                          </li>
                          <li>
                              <a href="javascript:void(0)" class="sprite3 arc"></a>
                          </li>
                          <li>
                              <a href="javascript:void(0)" class="sprite3 nrtn"></a>
                          </li>
                          <li>
                              <a href="javascript:void(0)" class="sprite3 paypal"> </a>
                          </li>
                          <li>
                              <a href="javascript:void(0)" class="sprite3 visa"></a>
                          </li>
                          <li>
                              <a href="javascript:void(0)" class="sprite3 mastercard"></a>
                          </li>
                          <li>
                              <a href="javascript:void(0)" class="sprite3 amrcnExprss"></a>
                          </li>
                          <li>
                              <a href="javascript:void(0)" class="sprite3 discvr"></a>
                          </li>

                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--foot-bottom-->

</section>




<section class="foot_mbl">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="subscribe-main">
                    <div class="foot-subscribe-box">
                        <p class="foot-subtitle">Sign up for email-exclusive deals!</p>
                        <div class="subs_eml">
                            <input type="text" class="inp_eml" name="newsletter" placeholder="Enter your email address">
                            <button type="submit"   onclick="newsLetter('footerNewsletter')">Subscribe</button>
                        </div>
                    </div>
            
                </div>
                    <div class="link_sec_ftr">
                        <div class="scl_logo">
                            <ul class="clearfix">
                                    <li><a href="javascript:void(0);" onclick="openWindow('https://www.facebook.com/faremart/', 'Facebook', 'scrollbars=yes,width=600,height=600');" class="fb sprite3"></a></li>
                                    <li><a href="javascript:void(0);" onclick="openWindow('https://twitter.com/fare_mart', 'Twitter', 'scrollbars=yes,width=600,height=600');" class="tw sprite3"></a></li>
                                    <li><a href="javascript:void(0);" onclick="openWindow('https://www.instagram.com/faremartdotcom/', 'Instagram', 'scrollbars=yes,width=600,height=600');" class="ig sprite3"></a></li>
                                    <li><a href="javascript:void(0);" onclick="openWindow('https://plus.google.com/u/3/101375581354476266975', 'Google+', 'scrollbars=yes,width=600,height=600');" class="gp sprite3"></a></li>
                            </ul>
                        </div>
                    </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="bk_wt_wrppr">
                    <div class="bk_wt_con">
                        <h3>
                            Book With Confidence
                        </h3>
                        <span></span>
                    </div>
                    <div class="trst_logos">
                        <ul>
                            <li>
                                <a href="javascript:void(0)" class="sprite3 iata"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="sprite3 arc"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="sprite3 nrtn"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="sprite3 paypal"> </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="sprite3 visa"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="sprite3 mastercard"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="sprite3 amrcnExprss"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="sprite3 discvr"></a>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="fotoerHeight"></div>
    <div class="call_icon_mbl_ind">
        <div class="flt_fx_strip">
            Call Now 24/7 For Unpublished Deals
        </div>
    
        <p> <a href="tel:+1-800-965-5819" id="1000" class="call-mBottom"> <span>
                                                       <img src="../../assets/images/call-icon.gif" alt="call-icon"></span>
             +1-800-965-5819</a> </p>
        <div class="cl_nw"><a href="tel:+1-800-965-5819" id="1000" class="call-mBottom">Call Now</a></div>
    </div>
</section>