<div class="eml_wrappr">
  <div class="eml_hd">
    <h2>Email Settings</h2>
  </div>
  <div class="eml_cont">
    <div class="eml_box">
      <label>Email Address</label>
      <input type="text" placeholder="example@gmail.com"  class="eml_input">
    </div>

    <div class="eml_box_r">
      <label>Password</label>
      <input type="password" placeholder="Password"  class="eml_input">
    </div>


  </div>
  <div class="eml_hd">
    <h2>Personal Informaion</h2>
  </div>
  <div class="eml_cont">
    <div class="eml_box">
      <label>First Name</label>
      <input type="text" placeholder="First Name"  class="eml_input">
    </div>
    <div class="eml_box_r">
      <label>Middle Name</label>
      <input type="text" placeholder="Middle Name"  class="eml_input">
    </div>
  </div>
  <div class="eml_cont">
    <div class="eml_box">
      <label>Last Name</label>
      <input type="text" placeholder="Last Name"  class="eml_input">
    </div>
    <div class="dob">
      <div class="mnth_box">
        <label>D.O.B.</label>
        <select class="mnth">
          <option>Month</option>
          <option>Jan</option>
          <option>Feb</option>
          <option>Mar</option>
          <option>Apr</option>
          <option>May</option>
          <option>Jun</option>
          <option>Jul</option>
          <option>Aug</option>
          <option>Sep</option>
          <option>Oct</option>
          <option>Nov</option>
          <option>Dec</option>
        </select>
      </div>
      <select  class="day_yrs">
        <option>Day</option>
        <option>01</option>
        <option>02</option>
      </select>
      <select  class="day_yrs">
        <option>Year</option>
        <option>1947</option>
        <option>1916</option>
      </select>
    </div>
  </div>
  <div class="eml_cont">
    <div class="eml_box">
      <label>Gender</label>
      <select class="eml_input">
        <option>Not Specified</option>
        <option>Male</option>
        <option>Female  </option>
      </select>
    </div>
    <div class="eml_box_r">
      <label>Country</label>
      <select class="eml_input">
        <option>Not Specified</option>
        <option>India</option>
      </select>
    </div>
  </div>


  
  <div class="eml_cont">
    <div class="eml_box">
      <label>Home Airport</label>
      <input type="text" class="eml_input" placeholder="Airport Name">
    </div>
  </div>

  <div class="eml_hd">
    <h2>Contact  Informaion</h2>
  </div>
  <div class="eml_cont">
    <div class="eml_box">
      <label>Addr. Line 1 </label>
      <input type="text" placeholder="Address Line 1"  class="eml_input">
    </div>
    <div class="eml_box_r">
      <label>Addr. Line 2</label>
      <input type="text" placeholder="Address Line 2"  class="eml_input">
    </div>
  </div>
  <div class="eml_cont">
    <div class="eml_box">
      <label>City</label>
      <input type="text" placeholder="City"  class="eml_input">
    </div>
    <div class="eml_box_r">
      <label>State</label>
      <select class="eml_input">
        <option>Not Specified</option>
        <option>New Delhi</option>
      </select>
    </div>
  </div>
  <div class="eml_cont">
    <div class="eml_box">
      <label>Zip</label>
      <input type="text" placeholder="First Name"  class="eml_input">
    </div>

  </div>

<div class="yellBox">
  <p>
      In order to comply with the TSA's Secure Flight Program, we require the <strong>traveler's full name</strong>, 
      date of birth and gender that <strong>matches exactly </strong>with the Passport or <strong>Government issued photo ID</strong> 
      that will be shown at the airport.

  </p>
</div>



<div class="savInfoBtn">
  <input type="button" value="Save Information" class="btn_sav"> 
</div>
</div>















