<section>
  <div class="nav_wrap_main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="nav_wrap clearfix">
                    <div class="nav_lft">
                        <div class="logo_link">
                            <a href="/">
                                <img src="../assets/images/top-logo.png" alt="Main_logo">
                            </a>
                        </div>
                        <div class="nav_link">
                            <ul>
                                <li class="active">
                                    <a href="/">Flights</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav_rgt">
                        <div class="nav_tfn">
                            <span>Call Us 24/7 For Unpublished Flight Deals</span>
                            <a href="tel:+1-800-965-5819" id="1000" class="call-dTop">+1-800-965-5819</a>
                        </div>
                    </div>
                    <div class="icon_user">
                        <img src="../assets/images/call-icon.gif" alt="callicon">
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>


  <div class="header_main_wrap">
        <div class="container">
            <div class="">
                <div class="header_cont">
    
                    <div class="head_logo_main NewSearch">
                        <img src="../../assets/images/top-logo.png" alt="Faremart logo">
                    </div>
                    <div class="menu_callIcon">
                        <div class="call_icon">
                            <a href="tel:+1-800-965-5819" id="1000" class="call-mTop">
                                Call Free
                            </a>
                        </div>
                        <div class="menu_icon">
                            <i class="fa fa-bars"></i>
                        </div>
                    </div>
    
                    <div id="bar_icon_mbl">
                        <div class="nav_mbl">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/about-us">About</a></li>
                                <li><a href="/contact-us">Contact</a></li>
                                <li><a href="/testimonial">Testimonials</a></li>
                                <li><a href="/faq">FAQs</a></li>
                                <li><a href="/sitemap">Sitemap </a></li>                        </ul>
                            <span class="cls_nav_mbl">
                                <img class="logo1" src="../../assets/images/close.png" alt="Close">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="height_header"></div>









</section>