<div class="eml_wrpr">
  <div class="eml_hd">
    <h3>Email Settings </h3>
  </div>
  <div class="eml_box " >
    <label>Email Address</label>
    <input type="text" placeholder="dhiman.anurag7@gmail.com" class="int_eml" disabled>
  </div>
<hr class="line_diff">
    <div class="eml_hd">
        <h3>Newsletter Settings</h3>
    </div>
    <div class="line_cont"> 
      <p>To modify your subscriptions, check or uncheck the boxes below, and click "Update Settings" to save.          </p>
    </div>
    <hr class="line_diff">
    <div class="eml_hd">
        <h3>Flight</h3>
    </div>
    <div class="chec_txt">
      <label class="check_wrappr">
          <input type="checkbox">
          <span></span>
          <strong>Fare Alerts</strong> - You set the dates and destination, and we'll email you our best fares.You set the dates and destination.
      </label>
    </div>
    <div class="add_loc">
      <div class="ad_f_box_l">
        <label>
            <i class="fa fa-map-marker"></i>
            <span>From</span>
        </label>
        <input type="text" placeholder="Enter a City or Airport" >
      </div>
        <div class="ad_f_box_l">
          <label>
              <i class="fa fa-map-marker"></i>
              <span>To</span>
          </label>
          <input type="text" placeholder="Enter a City or Airport" >
        </div>
        <div class="ad_f_box_l">
            <label>
                <i class="fa fa-calendar"></i>
                <span>Depart</span>
            </label>
            <input type="text" placeholder="Enter a City or Airport" >
          </div>
          <div class="ad_f_box_l">
              <label>
                  <i class="fa fa-calendar"></i>
                  <span>Return</span>
              </label>
              <input type="text" placeholder="Enter a City or Airport" >
          </div>
    </div>
    <div class="clearfix">
    </div>
    <hr class="line_diff">
    <div class="chec_txt">
        <label class="check_wrappr">
            <input type="checkbox">
            <span></span>
            <strong>Faremart Flight Deals</strong> - Get our best flight deals, last minute offers, flash sales and more.
        </label>
    </div>
      <hr class="line_diff">
      <div class="chec_txt">
          <label class="check_wrappr">
              <input type="checkbox">
              <span></span>
              <strong>Home Base Deals</strong> - Tell us your preferred airport, and we'll send you our best fares.
          </label>
      </div>
  <div class="sav_loc">
    <div class="sv_lc_in">
      <label><i class="fa fa-map-marker"></i> Home Airport</label>
      <input type="text" class="loc_inp" placeholder="Enter Your City or Airport" >
      <input type="button" value="Save Location" class="btn_sav_loc" >
    </div>
  </div>
  <div class="chec_txt">
    <label class="check_wrappr">
        <input type="checkbox">
        <span></span>
        <strong>Unsubscribe for All</strong>
    </label>
  </div>
  <hr class="line_diff">
<div class="savInfoBtn">
  <input type="button" value="Update Setting" class="btn_sav"> 
</div>
</div>