
<div class="myinfo_wrppr">
  <div class="trip_lft_pnl">
    <ul>
        <li>
          <a  routerLinkActive="active" routerLink="mydetails" >My Details</a>
        </li>
        <li>
          <a   routerLinkActive="active" routerLink="mybilling" >My Billing Details</a>
        </li>
        <li>
          <a  routerLinkActive="active" routerLink="mytravelpreference">Travel Preferences</a>
        </li>
        <li>
          <a  routerLinkActive="active" routerLink="mytravelers">My Travelers</a>
        </li>
    </ul>
  </div>
  <div class="trip_cont">
    <router-outlet></router-outlet>

  </div>
</div>