<div class="cred_crd_wrpr">
  <div class="crdt_crd_info">
      <div class="crd_lft">
        <div class="hd">
          <h3>Enter New Credit Card Information Below</h3>
        </div>
      </div>
      <div class="trst_logos">
        <ul>
            <li>
                <a href="javascript:void(0)" class="sprite3 paypal"> </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="sprite3 visa"></a>
            </li>
            <li>
                <a href="javascript:void(0)" class="sprite3 mastercard"></a>
            </li>
            <li>
                <a href="javascript:void(0)" class="sprite3 amrcnExprss"></a>
            </li>
            <li>
                <a href="javascript:void(0)" class="sprite3 discvr"></a>
            </li>
        </ul>
      </div>
      <div class="crd_numb">
        <label> Card #* </label>
        <input type="text" placeholder="Credit Card Number" class="inp_bx" >
      </div>
      <div class="crd_numb">
        <label> Name </label>
        <input type="text" placeholder="As It Appear on Credit Card" class="inp_bx" >
      </div>
      <div class="mnth_yr">
        <div class="bx_mntyr">
          <label>Expiry Date</label>
          <select class="mnt" >
            <option>Month</option>
            <option>Jan</option>
            <option>Feb</option>
          </select>
        </div>
        <select class="yr">
          <option>Year</option>
          <option>1990</option>
          <option>1991</option>
          <option>1992</option>
          <option>1993</option>
        </select>
      </div>
  </div>
  <div class="bllng_addr">
    <div class="hd">
      <h3>Billing Address</h3>
    </div>
    <div class="rdo_btn">
      <ul>
        <li>
            <label class="radio_wraprr">
                <input type="radio"  >
                <span>Use   Existing Address </span>
            </label>
        </li>
        <li>
            <label class="radio_wraprr">
                <input type="radio" >
                <span>Add New Address</span>
            </label>
        </li>
      </ul>
    </div>
  </div>

  <div class="eml_cont">
    <div class="eml_box">
      <label>Addr. Line 1 </label>
      <input type="text" placeholder="Address Line 1"  class="eml_input">
    </div>
    <div class="eml_box_r">
      <label>Addr. Line 2</label>
      <input type="text" placeholder="Address Line 2"  class="eml_input">
    </div>
  </div>
  <div class="eml_cont">
    <div class="eml_box">
      <label>City</label>
      <input type="text" placeholder="City"  class="eml_input">
    </div>
    <div class="eml_box_r">
      <label>State</label>
      <select class="eml_input">
        <option>Not Specified</option>
        <option>New Delhi</option>
      </select>
    </div>
  </div>
  <div class="eml_cont">
    <div class="eml_box">
      <label>Zip</label>
      <input type="text" placeholder="zip code"  class="eml_input">
    </div>
    <div class="eml_box_r">
      <label>Billing Ph*</label>
      <input type="text" placeholder="Billing Phone Number"  class="eml_input">
    </div>
  </div>
  <div class="yellBox">
      <p>
          We value your privacy and will not share your credit card information.
      </p>
  </div>
  <div class="savInfoBtn">
    <input type="button" value="Save Information" class="btn_sav"> 
  </div>
</div>