<div>

 
<app-headbar></app-headbar> 

<!-- <app-header></app-header> -->

<section>
  <div class="bnnr_outr_box"></div>

  <div class="bnnr_nav_txt">
    <div class="container">
      <div class="row"> 
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="membr_head">
            <h3>Member's Account</h3>

          </div>
          <div class="member_contant">
            <ul class="clearfix">
              <li>
                <a routerLinkActive="active" routerLink="mytrip"  >
                  <p><i class="fa fa-suitcase"></i></p>
                  <span>My Trip</span>
                </a>
              </li>
              <li>
                <a routerLinkActive="active" routerLink="myrewards">
                  <p><i class="fa fa-gift"></i></p>
                  <span>My Reward</span>
                </a></li>
              <li>
                <a routerLinkActive="active" routerLink="mydeals">
                  <p><i class="fa fa-tag"></i></p>
                  <span>My Deal</span>  
                </a></li>
              <li>
                <a routerLinkActive="active" routerLink="myinfo">
                  <p><i class="fa fa-user"></i></p>
                  <span>My Information</span>  
                </a>
              </li>
              <li>
                <a routerLinkActive="active" routerLink="mysetting">
                  <p><i class="fa fa-cog"></i></p>
                  <span>Settings</span>
                </a>
              </li>
            </ul>
            <router-outlet></router-outlet>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer>  </app-footer>

</div>

















