<div class="wrapr_trip">
  <div class="lft_trip">
    <ul>
        <li>
          <a  routerLinkActive="active" routerLink="upcoming-trips" >Upcoming Trips</a>
        </li>
        <li>
          <a   routerLinkActive="active" routerLink="completed-trips" >Completed Trips</a>
        </li>
        <li>
          <a  routerLinkActive="active" routerLink="canceled-trips">Canceled Trips</a>
        </li>
        <li>
          <a  routerLinkActive="active" routerLink="recent-searches">Recent Searches</a>
        </li>
        <li>
          <a  routerLinkActive="active" routerLink="wishlist">Wishlists</a>
        </li>
    </ul>
  </div>
  <div class="rgt_trip">
    <router-outlet></router-outlet>
  </div>
</div>  