.wrapr_trip .lft_trip{width: 20%; float: left;}
.wrapr_trip .rgt_trip{width:80%; float: left;}

.wrapr_trip{width:100%; background: #efefef; float: left;}
.wrapr_trip .lft_trip {width:20%;  float: left; }
.wrapr_trip .lft_trip ul{margin: 0px; padding: 0px;}
.wrapr_trip .lft_trip ul li{list-style: none;}
.wrapr_trip .lft_trip ul li a{text-decoration: none;  color: #083d77; padding: 7px 10px; display: block; border-bottom: 1px solid #ddd;}
.wrapr_trip .lft_trip ul li:first-child a{border-top:1px solid #ddd}
.wrapr_trip .lft_trip ul li a:hover, .myinfo_wrppr .trip_lft_pnl ul li a.active{background: #fff; font-weight: 700;}
.myinfo_wrppr .trip_cont {width:80%; background: #fff; float: left; padding: 0px 10px; }



































































































































































































