<div class="mydealWrappr clearfix">
  <div class="deal_hd">
    <h3>My Deals of the Week</h3>
  </div>
<div class="deal_box">
    <div class="flt">
      <span class="icon">
        <i class="fa fa-plane"></i>
      </span>
      <span class="deprt">
        New Delhi      
      </span>
      <span class="arrw">
        <i class="fa fa-long-arrow-right"></i>
      </span>
      <span class="retrn">Amritsar</span>
    </div>
    <div class="dpr_rtrn_date">
      <p>Depart: Sun, 05/26/2019</p>
      <p>Return: Sun, 05/26/2019</p>
    </div>
  <div class="prc_wrappr">
    <div class="prd_dtl"> 
      <p class="frm">From</p>
      <p class="amt">$1491</p>
    </div>
    <div class="src_btm">
      <input type="button" value="Search" >
    </div>
  </div>
</div>
<div class="deal_box">
  <div class="flt">
    <span class="icon">
      <i class="fa fa-plane"></i>
    </span>
    <span class="deprt">
      New Delhi      
    </span>
    <span class="arrw">
      <i class="fa fa-long-arrow-right"></i>
    </span>
    <span class="retrn">Amritsar</span>
  </div>
  <div class="dpr_rtrn_date">
    <p>Depart: Sun, 05/26/2019</p>
    <p>Return: Sun, 05/26/2019</p>
  </div>
<div class="prc_wrappr">
  <div class="prd_dtl"> 
    <p class="frm">From</p>
    <p class="amt">$1491</p>
  </div>
  <div class="src_btm">
    <input type="button" value="Search" >
  </div>
</div>
</div>
<div class="deal_box">
  <div class="flt">
    <span class="icon">
      <i class="fa fa-plane"></i>
    </span>
    <span class="deprt">
      New Delhi      
    </span>
    <span class="arrw">
      <i class="fa fa-long-arrow-right"></i>
    </span>
    <span class="retrn">Amritsar</span>
  </div>
  <div class="dpr_rtrn_date">
    <p>Depart: Sun, 05/26/2019</p>
    <p>Return: Sun, 05/26/2019</p>
  </div>
<div class="prc_wrappr">
  <div class="prd_dtl"> 
    <p class="frm">From</p>
    <p class="amt">$1491</p>
  </div>
  <div class="src_btm">
    <input type="button" value="Search" >
  </div>
</div>
</div>
<div class="deal_box">
  <div class="flt">
    <span class="icon">
      <i class="fa fa-plane"></i>
    </span>
    <span class="deprt">
      New Delhi      
    </span>
    <span class="arrw">
      <i class="fa fa-long-arrow-right"></i>
    </span>
    <span class="retrn">Amritsar</span>
  </div>
  <div class="dpr_rtrn_date">
    <p>Depart: Sun, 05/26/2019</p>
    <p>Return: Sun, 05/26/2019</p>
  </div>
<div class="prc_wrappr">
  <div class="prd_dtl"> 
    <p class="frm">From</p>
    <p class="amt">$1491</p>
  </div>
  <div class="src_btm">
    <input type="button" value="Search" >
  </div>
</div>
</div>
<div class="deal_box">
  <div class="flt">
    <span class="icon">
      <i class="fa fa-plane"></i>
    </span>
    <span class="deprt">
      New Delhi      
    </span>
    <span class="arrw">
      <i class="fa fa-long-arrow-right"></i>
    </span>
    <span class="retrn">Amritsar</span>
  </div>
  <div class="dpr_rtrn_date">
    <p>Depart: Sun, 05/26/2019</p>
    <p>Return: Sun, 05/26/2019</p>
  </div>
<div class="prc_wrappr">
  <div class="prd_dtl"> 
    <p class="frm">From</p>
    <p class="amt">$1491</p>
  </div>
  <div class="src_btm">
    <input type="button" value="Search" >
  </div>
</div>
</div>
<div class="deal_box">
  <div class="flt">
    <span class="icon">
      <i class="fa fa-plane"></i>
    </span>
    <span class="deprt">
      New Delhi      
    </span>
    <span class="arrw">
      <i class="fa fa-long-arrow-right"></i>
    </span>
    <span class="retrn">Amritsar</span>
  </div>
  <div class="dpr_rtrn_date">
    <p>Depart: Sun, 05/26/2019</p>
    <p>Return: Sun, 05/26/2019</p>
  </div>
<div class="prc_wrappr">
  <div class="prd_dtl"> 
    <p class="frm">From</p>
    <p class="amt">$1491</p>
  </div>
  <div class="src_btm">
    <input type="button" value="Search" >
  </div>
</div>
</div>
<div class="deal_box">
  <div class="flt">
    <span class="icon">
      <i class="fa fa-plane"></i>
    </span>
    <span class="deprt">
      New Delhi      
    </span>
    <span class="arrw">
      <i class="fa fa-long-arrow-right"></i>
    </span>
    <span class="retrn">Amritsar</span>
  </div>
  <div class="dpr_rtrn_date">
    <p>Depart: Sun, 05/26/2019</p>
    <p>Return: Sun, 05/26/2019</p>
  </div>
<div class="prc_wrappr">
  <div class="prd_dtl"> 
    <p class="frm">From</p>
    <p class="amt">$1491</p>
  </div>
  <div class="src_btm">
    <input type="button" value="Search" >
  </div>
</div>
</div>
<div class="deal_box">
  <div class="flt">
    <span class="icon">
      <i class="fa fa-plane"></i>
    </span>
    <span class="deprt">
      New Delhi      
    </span>
    <span class="arrw">
      <i class="fa fa-long-arrow-right"></i>
    </span>
    <span class="retrn">Amritsar</span>
  </div>
  <div class="dpr_rtrn_date">
    <p>Depart: Sun, 05/26/2019</p>
    <p>Return: Sun, 05/26/2019</p>
  </div>
<div class="prc_wrappr">
  <div class="prd_dtl"> 
    <p class="frm">From</p>
    <p class="amt">$1491</p>
  </div>
  <div class="src_btm">
    <input type="button" value="Search" >
  </div>
</div>
</div>
<div class="deal_box">
  <div class="flt">
    <span class="icon">
      <i class="fa fa-plane"></i>
    </span>
    <span class="deprt">
      New Delhi      
    </span>
    <span class="arrw">
      <i class="fa fa-long-arrow-right"></i>
    </span>
    <span class="retrn">Amritsar</span>
  </div>
  <div class="dpr_rtrn_date">
    <p>Depart: Sun, 05/26/2019</p>
    <p>Return: Sun, 05/26/2019</p>
  </div>
<div class="prc_wrappr">
  <div class="prd_dtl"> 
    <p class="frm">From</p>
    <p class="amt">$1491</p>
  </div>
  <div class="src_btm">
    <input type="button" value="Search" >
  </div>
</div>
</div>
</div>


<div class="trms_cond">
  <h5>* Terms and conditions</h5>
  <h6>Flights</h6>
  <p>
    Fares are round trip. Fares incl. all fuel surcharges, our Service Fee and taxes.Tickets are non refundable, non transferable, non-assignable. Name changes are not permitted.Fares are subject to change without notice. Fares subject to availability. There is a higher probability of seats being available at this fare on Tuesday, Wednesday & Thursday and may require a Saturday night stay at your destination. Lowest fares may require an advance purchase of up to 21 days. Certain Blackout dates may apply. Holidays & Weekend travel may have a surcharge. Other restrictions may apply. Additional terms and conditions of purchase.
  </p>
</div>


