/* You can add global styles to this file, and also import other style files */
/* ----------------------------------- checkbox Start Here ----------------------------------- */
.sprite3 {background: url(../src/assets/images/sprite3.png) no-repeat;}
.check_wrappr {margin: 0px;}
.chec_txt input[type="checkbox"] {display: none;}
.check_wrappr span {cursor: pointer;position: relative;font-size: 13px;color: #333333;padding-left: 20px;line-height: 16px;text-transform: capitalize;}
.check_wrappr span:before {content: "";display: inline-block;width: 14px;height: 14px;margin-right: 5px;position: absolute;left: 0;top: 2px;border: 1px solid #9f9f9f;text-align: center;line-height: 17px;background: #fff;}
.check_wrappr input[type="checkbox"]:checked ~ span:before {font-family: 'Glyphicons Halflings';content: "\e013";font-size: 10px;line-height: 12px;color: #083d77;border: 1px solid #083d77;}
/* ----------------------------------- checkbox Ends Here ----------------------------------- */
/* ----------------------------------- Radio Button Start Here ----------------------------------- */
.radio_wraprr{position: relative; padding-left: 20px;}
.radio_wraprr input[type="radio"]{display: none;}
.radio_wraprr input[type="radio"]:checked ~ span::after {border:2px solid #083d77;}
.radio_wraprr input[type="radio"] ~ span::after {border: 1px solid #9f9f9f;border-radius: 50%;content: "";height: 14px;width: 14px;left: 2px;position: absolute;top: 6px;}
.radio_wraprr input[type="radio"]:checked ~ span {color: #083d77;}
.radio_wraprr input[type="radio"]:checked ~ span::before {background: #083d77;border-radius: 100%;content: "";display: block;height: 6px;left: 6px;position: absolute;top: 10px;width: 6px;}
/* ----------------------------------- Radio Button Ends Here----------------------------------- */











































































































































































































